.Title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.aling-center-item{
  display: flex;
  align-items: center;
}

.font-Title{
  font-size: 24px;
  font-weight: bold;
}
.final-price{
  font-weight: 700;
}

